<br>
<br>
<div class="row">

    <div class="col-xs-12 header" >
        <h1 class="page-header">About the Institute</h1>
        
    </div>
</div>

<!-- Headers for the page. Maybe think about placing the content below within this? Would that help, you think? -->

<div class="row">
    <center>
        <div class="col-xs-6 col-xs-offset-3" style="text-align: left;">
                    <p ><h3 style="display:inline">EVERY SUMMER,</h3> the Juniper Institute gathers a community of writers to explore the creative process and develop new approaches to the craft of writing. Hosted by the MFA Program for Poets &amp; Writers at the University of Massachusetts Amherst, Juniper is a weeklong immersion in the writer’s life, June 17-24, 2018. It is time out for you and your writing, time for wild invention, and to become part of a community of acclaimed and emerging writers from all walks of life.</p>
        </div>
    </center>
</div>

<div class="row">
<!--     <div class="col-lg-4">
        <br><br><br><br><br>
        <img src="./images/about/every_summer_2015.jpg" class="image curriculum"></img>
        <blockquote>
            <p>Writing is a solitary endeavor, so Juniper is always a way for me to recharge my writing batteries. I leave Amherst with ideas and outlines of future stories - and ways to improve my writing.</p>
            <small> Jjuniper Participant, '15</small>
        </blockquote>

        <br>

    </div>
 -->
    <div class="col-sm-4">
        <h3 class="page-header">Daily Schedule</h3>

        <img src="./images/about/daily-schedule.jpg" class="image curriculum img-responsive"></img>
        <p>A typical day’s schedule looks something like this:
            <ul class="about">
                <li>10:30 <a href="http://www.umass.edu/juniperinstitute/#/institute/craft">Craft Sessions</a> or Q&amp;A</li>
                <li>12:00 Community Lunch at the University Club</li>
                <li>1:00-3:30 <a href="http://www.umass.edu/juniperinstitute/#/institute/workshops">Workshops</a></li>
                <li>4:00 Open-mics for Juniper participants</li>
                <li>7:30 <a href="http://www.umass.edu/juniperinstitute/#/institute/reading">Readings</a> by Institute faculty and writers in residence </li>
            </ul>
        <p>The daily schedule also includes free time for writing, relaxing, socializing, and enjoying the many charms of the Pioneer Valley.</p>
</p>
        <br>
        <blockquote>
            <p>I have come back to Juniper so many times over because I have always been made to feel welcome there. The first year that I came, I was brand new to poetry, writing workshops … and I was taught instead that there are so many ways to write well, and to love writing.</p>
            <small> Juniper Participant, '17</small>
        </blockquote>
        
    </div>


    <div class="col-sm-4">
        <h3 class="page-header">Manuscript Consultations</h3>
        <img src="./images/about/manuscript_consultations.jpg" class="image curriculum img-responsive"></img>
        <blockquote>
            <p>I wanted to work with other writers whose talents and interests and passions matched my own.</p>
            <small>Juniper Participant, '17</small>
        </blockquote>
        <p>All participants receive detailed attention to their writing in workshop. For those interested, a limited number of private manuscript consultations with faculty or writers in residence are available for a fee of $150. Participants meet privately with their assigned consultant for 60 minutes to receive concentrated feedback on a longer manuscript than what might be presented in workshop (up to 20 pages of poetry, 35 pages of prose).</p>

    </div>

    <div class="col-sm-4">
        <h3 class="page-header">Admission &amp; Scholarships</h3>
        <img src="./images/about/admission_scholarship.jpg" class="image curriculum img-responsive"></img>
        <p> The Juniper Institute seeks to create a diverse community of writers. <a href="http://www.umass.edu/juniperinstitute/#/institute/admission">Applications</a> are accepted on a rolling basis starting in January 2018. Workshops fill quickly, so early application is recommended. The Institute awards several work-study scholarships and scholarship grants on the basis of need and merit. <a href="http://www.umass.edu/juniperinstitute/#/institute/admission">Scholarship</a> applications must be submitted by March 11, 2018.
        </p><br>
        <blockquote>
            <p>I've gained some revision techniques that force me to look at my work in a different way which helps me take my work in different directions than I normally would go.</p>
            <small>Juniper Participant, '17</small>
        </blockquote>

    </div>
</div>

<div class="row">

    <div class="col-sm-4"><br>
        <h3 class="page-header">Tuition</h3>
        <img src="./images/about/tuition.jpg" class="image curriculum img-responsive"></img>
        <p>
            Tuition of $1,600 includes all Institute activities (5 three-hour workshops in your chosen genre, 3 craft sessions of your choosing, 3 Q&amp;As, 7 readings, 3-4 open mics), daily lunch, a welcome dinner, and a farewell reception. Participants interested in earning 3 undergraduate or graduate academic credits may do so for an additional $400. More information about earning credits is sent upon acceptance to the Institute.
        </p><br>
        <blockquote>
            <p>Everyone I met in my workshop made my heart sing a little bit.</p>
            <small>Juniper Participant, '17</small>
        </blockquote>
    </div>
    <div class="col-sm-4"><br>
        <h3 class="page-header">Housing</h3>
        <img src="./images/about/housing.jpg" class="image curriculum img-responsive"></img>
        <p>
            Institute tuition does not include housing. Participants choose accommodations that best suit their needs. Upon acceptance, applicants receive information about a range of convenient options, including suite-style university residence halls ($336 for the week), campus and area hotels, inns, and B&amp;Bs ($85-$140/night).
        </p><br>
        <blockquote>
            <p>Being immersed in writing for 9 days was incredible. And the people that were in the program, the general warmth of each day and the comfort in building relationships with kind, interesting, genuine individuals.</p>
            <small>Juniper Participant, '17</small>
        </blockquote>
    </div>
    <div class="col-sm-4"><br>
        <h3 class="page-header">Location</h3>
        <img src="./images/about/location.jpg" class="image curriculum img-responsive"></img>
        <p>
            With ties to writers like Robert Frost, Nathaniel Hawthorne, Sylvia Plath, and W. E. B. Dubois, New England has one of the country’s richest literary traditions. Amherst’s most famous author might be Emily Dickinson, whose homestead draws visitors from all over the world. Juniper participants who visit the Emily Dickinson House frequently report experiencing a profound connection to the area’s literary heritage. Amherst and Northampton are also home to The Eric Carle Museum, the Yiddish Book Center, and a host of restaurants, independent bookstores, cinemas, and are driving distance from the neighboring Berkshires. A number of transit options are available to help participants get here, and to explore the Pioneer Valley.
        </p>
    </div>
</div>
