    <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <section id="Admission and Scholarships">
            <h2 class="header">Admission and Scholarships</h2><br>
            <p>Hosted by the MFA Program for Poets &amp; Writers at UMass Amherst, Juniper offers writers an opportunity to immerse themselves in the writer’s life, to get inspired, and to meet a diverse community of acclaimed and emerging writers from all walks of life.</p>
            <p>Applications for the 2017 Institute will open in January. Join the <a href="http://umass.us2.list-manage.com/subscribe?u=5c76fc0790eee910a68b90f30&id=c7b1dd120a">mailing list</a> to be notified as soon as applications open.</p>
        </section>
        <section id="eligibility" >
            <h2 class="header">Eligibility</h2><br>
            <blockquote class="right apply">
                <p>This was my first week-long intensive writing program and exceeded all of my expectations. I feel transformed!</p>
                <small>Juniper Participant</small>
            </blockquote>
            <p>The Juniper Summer Writing Institute is an inclusive literary space that welcomes adult writers from different genres at all stages of their careers. Acceptance to the Institute is based upon the strength and promise of the writing sample. We operate on a rolling admissions basis, and we do our best to make admission decisions within 2-6 weeks of receiving applications. </p>

            <p>Once accepted, enrollment in the Institute is guaranteed on a first-come, first-served basis. <u><em>You will need to put down a non-refundable deposit of $200 to secure your space.</em></u> </p>

            <p>Workshops fill quickly, so we recommend applying and enrolling early. </p>

            <p>(Applicants under the age of 18: please apply to the <a href="http://www.umass.edu/juniperyoungwriters/">Juniper Institute for Young Writers</a>) our companion program for high school students.</p>
        </section>

        <section id="Application Process Overview">
            <h2 class="header">Application Process Overview</h2><br>
            <p>Applications are accepted online and admission is on a rolling basis. See the sections below for detailed information about each part of the application process.</p>

            
            Application materials include: <br>
            <ul>
                <li>$35 application fee</li>
                <li>Writing sample </li>
                <li>Indication of your 1st and 2nd choices for workshop leader </li>
                <li>Personal Statement</li>               
            </ul>
            <section id="Application Fee">
                <h3 class="header" style="text-align:center">Application Fee</h3><br>
                <p>A non-refundable application fee of $35 (U.S.) is required with each application, and is used to cover the administrative costs of running the program. Applicants pay the fee by debit or credit card through a secure site on the online application.</p>
            </section>
            <section id="Writing Sample">
                <h3 class="header" style="text-align:center">Writing Sample</h3><br>
            <blockquote class="left apply">
                <p>I needed the week to be reminded of the joy of writing and the joy of talking about writing. More than any of the new ideas I came away with, this was the most important thing the Institute gave me.</p>
                <small>Juniper Participant</small>
            </blockquote>
                <p>The strength and promise of your writing sample is the most important component of your application. Send your best work; it needn’t be published, though published work is acceptable, and does not have to be the same sample you wish to present in workshop. Writing samples are comprised of:</p>
                <ul>
                    <li>5-7 pages of poetry (one poem per page) or</li>
                    <li>7-9 pages of fiction or creative nonfiction/memoir (double-spaced)</li>
                </ul>
                <p>Samples should be saved in one document (doc, docx, pdf, rtf, or txt). Please include your name &amp; email address as a header or footer in the writing sample.</p>        
            </section>

           <section id="Workshop Preference">
                <h3 class="header" style="text-align:center">Workshop Preference</h3>
                <p>You will have the opportunity in your application form to indicate your 1st and 2nd choices for <a href="http://www.umass.edu/juniperinstitute/#/institute/workshops">workshop leader</a>. Every effort will be made to accommodate your requests.</p>
                <h3 class="header" style="text-align:center">Personal Statement</h3>
                <p>In 300 words or less, please tell us what is drawing you to apply to Juniper this year, and what you hope to get out of the experience. Please also let us know how this might be different than other writing experiences (if any) you may have had. Include this statement at the top of your Writing Sample in the same file; it will not count toward the writing sample page limits.</p>
           </section>
            
        </section>

        <section id="Scholarships and Grants">
            <h2 class="header">Scholarships &amp; Grants</h2><br>
            <blockquote class="right apply">
                <p>I now have a group of incredible writers who are always around to read new pages, challenge me, suggest readings . . . and just be passionate about writing.</p>
                <small>Juniper Participant</small>
            </blockquote>
            <p>The Institute awards five work-study* scholarships of 50% tuition remission, several sponsored scholarships in the amount of $500 (each offered by one of our wonderful literary <a href="http://www.umass.edu/juniperinstitute/#/sponsors">scholarship sponsors</a>), and one full tuition scholarship sponsored by The Valley Advocate. We especially encourage applicants of diverse life experiences and backgrounds, and those who have experienced socioeconomic disadvantage or discrimination. </p>
           
            <p>As part of the Personal Statement portion of the application, scholarship applicants should include information about their need for scholarship support, and any relevant aspects of their background or experience they’d like to share.</p>

            <p><i>Scholarship applications must be submitted by <u>March 10, 2017.</u></i></p>
            <p>*Please note that applicants for the work-study scholarships should be able and willing to carry out daily administrative and logistical tasks in support of Institute activities.</p>
        </section>

        <section id="Tuition and Housing">
            <h2 class="header">Tuition &amp; Housing</h2>
            <p>Tuition of $1,550 includes all Institute activities, workshops, craft sessions, readings, Q&amp;As, daily lunch, a welcome dinner, and a farewell reception. Once you’ve been accepted, enrollment is on a first-come, first-served basis. You’ll need to pay a non-refundable deposit of $200 to guarantee your space. The remainder of tuition is due in full no later than May 1, 2017.</p>

            <p>We offer a number of housing options for participants to choose from. Upon acceptance, applicants receive information on a range of convenient options which range from $46/night (shared room in a residence hall) to $85 (nearby inn) to $130 (campus hotel).</p>

        </section>
     
        <section id="Notification">
            <h2 class="header">Notification</h2><br>
            <p>We do our best to contact applicants with our admission decision within 2-6 weeks of receiving their applications. Please note that notification can take longer after the scholarship application deadline, as the number of applications received around that time increases exponentially. Your acceptance will come by email.</p>
            <p> Scholarship awards will be made by late spring, and notification will come by phone and email. </p>
        </section>
        <section id="Cancellation Policy">
            <h2 class="header">Cancellation Policy</h2><br>
            <p>If you cancel your enrollment before May 1, you will forfeit your non-refundable $200 tuition deposit. If you cancel after May 1, you will forfeit your $200 tuition deposit and be charged an additional $500 cancellation fee. There will be no tuition refunds for cancellations after June 1 and no refunds in the event of early departure.</p>
            
        </section>

        <p><i>Please note that program details and personnel are subject to change as necessary.</i></p>
 </div>
</div>