        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Contact</h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Map Column -->
            <div class="col-sm-4">
                <h3>Contact Details</h3>
                <b>For more information, please contact:</b><br>
                <p>
                    Jennifer Jacobson, Director<br>
                    Betsy Wheeler, Managing Director<br>
                    Lori Shine, Project Manager<br>
                    McKayla Lovering, Administrative Assistant<br>
                </p>

                <b><h4>Institute Mailing Address</h4></b>
                    <p>
                        Juniper Institute<br>
                        c/o University Conference Services<br>
                        810 Campus Center, 1 Campus Center Way<br>
                        University of Massachusetts<br>
                        Amherst, MA 01003-9272 <br>
                        <br>
                        <a href="https://signup.e2ma.net/signup/1857006/1804200/">Sign up for our email list for updates.</a>
                    </p>

 
            </div>

            <div class="col-sm-8">
                <!-- Embedded Google Map -->
                <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/place?q=810%20Campus%20Center%2C%201%20Campus%20Center%20Way%2C%20Amherst%2C%20MA&amp;key=AIzaSyB0fGcOc_aqsF_7sZGlhuMRSRujFle-vEo"></iframe>

                <p><i class="fa fa-phone"></i> 
                <abbr title="Phone">P</abbr>: (413) 545-8988</p>

                <p><i class="fa fa-envelope-o"></i> 
                    <abbr title="Email">E</abbr>: <a href="mailto:juniperinstitute@hfa.umass.edu">juniperinstitute@hfa.umass.edu </a>
                </p>
                <p><i class="fa fa-clock-o"></i> 
                    <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>

            </div>
            <!-- Contact Details Column -->

        </div>
        <!-- /.row -->

        <br>

        </div>