<div ng-controller="CraftController">

	<div class="row">
		<div class="col-lg-12 header">
			<h1 class="page-header">Craft Sessions</h1>
		</div>
	</div>

	<div class="row">

	        <div class="col-sm-4">
	        	<img src="./images/craft/craft-sessions-1.jpg" class="image img-responsive">
	        </div>


	        <div class="col-sm-4">
	        	<img src="./images/craft/craft-sessions-2.jpg" class="image img-responsive">
	        </div>


	        <div class="col-sm-4">
	        	<img src="./images/craft/craft-sessions-3.jpg" class="image img-responsive">
	        </div>
	    </div>
	<br><br>

	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 craft">
			<p>
				Morning craft sessions offer writers a chance to talk with faculty and writers in residence about varied topics of interest, writers’ lives, books, and matters of craft including techniques, themes, and forms. On alternating mornings, the Juniper community gathers for moderated Q&amp;As with the previous night’s readers. Together, craft sessions and Q&amp;As give Juniper participants numerous opportunities to engage with the Institute's distinguished faculty and writers in residence.
			</p>
			<p>
				See below for craft session descriptions from summer 2018.
			</p> 
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 text-center">
			<div ng-repeat="craft in crafts">
				<accordion close-others="oneAtATime" >
					<accordion-group heading="{{craft.title}} with {{craft.writer}}">
						<p style="text-align:left" ng-bind-html="craft.description">
						</p>
			   		</accordion-group>
				</accordion>
			</div>
		</div>
	</div>
</div>


