<div ng-controller="FacultyController">    
    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <h1 class="page-header">Faculty &amp; Writers in Residence</h1>
        </div>
    </div>

    <!-- /.row -->
    <div class="container" ng-repeat="facultyType in faculty">
            <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">{{facultyType.type}}</h2>
            </div>
            <div class="writersContainers" ng-repeat="writer in facultyType.writers">
                <div class="col-lg-2 text-center">
                    <img ng-src="{{writer.path}}" class="image img-responsive">
                </div>
                <div class="col-lg-10" class="left-align">
                    <h3 class="inline">{{writer.name}}</h3>
                    <p ng-bind-html="writer.bio"></p>
                </div>
                <br><br><br><br><br><br> <br><br><br><br><br><br><br><br><br><br> <br><br><br><br><br><br> <br><br><br>
            </div>
            </div>



    
    </div>
</div>