        <div ng-controller="MainController">
            <div width="400px">
                <carousel interval="myInterval" no-wrap="noWrapSlides">
                    <slide ng-repeat="slide in slides" active="slide.active">
                        <img ng-src="{{slide.image}}">

                    </slide>
                </carousel>
            </div>
        </div>



<div class="row">
    <!-- <div class="col-md-4">
        <h2 class="genre-header">Poetry</h2>
    </div>

    <div class="col-md-4">
        <h2 class="genre-header">Fiction</h2>
    </div>

    <div class="col-md-4">
        <h2 class="genre-header">Non-Fiction</h2>
    </div>
 --><br><br><br>

    <div class="col-lg-12 header">
                <center><img src="./images/main/Juniper logo final.png" class="img-responsive" style="width:450px"></img></center>
            </div>
            <br>
    <div class="col-lg-12" style="text-align:center">
                    <center>

        <img src='./images/main/main_photo.png' class="img-responsive" width="90%">
        </center>

    </div>

</div>
