<br><br><div class="row">

	<div class="col-xs-12 header" >
        <h1 class="page-header">Reading Series</h1>
    </div>
</div>
<br><br>
<div class="row">

        <div class="col-sm-4">
        	<img src="./images/reading/reading-series-1.jpg" class="image img-responsive">
        </div>


        <div class="col-sm-4">
        	<img src="./images/reading/reading-series-2.jpg" class="image img-responsive">
        </div>


        <div class="col-sm-4">
        	<img src="./images/reading/reading-series-3.jpg" class="image img-responsive">
        </div>
</div>
<br><br>
<div class="row">

	
	<div class="col-xs-6 col-xs-offset-3">
		<p>Each night during the Juniper Institute, acclaimed faculty and writers in residence read from their new and selected work. Readings are free for participants enrolled in the 2017 Juniper Institute. The general public may purchase tickets at the door for $5 per evening. There is plenty of free parking and the event is in an accessible venue.</p>

        <p>
            Times and locations of readings will be available in the spring.
        </p>
    </div>

</div>

<!-- 
<div class="row">
	<h3 class="page-header">Sunday, June 19, 2016</h3>
</div>

<div class="row">
    <center>
        <div class="col-xs-6 col-xs-offset-3">
            <H4>
                Eileen Myles and Arthur Flowers
            </H4>
        </div>
    </center>
</div>

<div class="row">
    <h3 class="page-header">Monday, June 20, 2016</h3>
</div>

<div class="row">
    <center>
    <div class="col-xs-6 col-xs-offset-3">
        <H4>
            Dara Wier and Zachary Schomburg
        </H4>
    </div>
</center>
</div>

<div class="row">
    <h3 class="page-header">Tuesday, June 21, 2016</h3>
</div>

<div class="row">
    <center>
    <div class="col-xs-6 col-xs-offset-3">
        <H4>
            Noy Holland and Evie Shockley
        </H4>
    </div>
</center>
</div>

<div class="row">
    <h3 class="page-header">Wednesday, June 22, 2016</h3>
</div>

<div class="row">
    <center>
    <div class="col-xs-6 col-xs-offset-3">
        <H4>
            Betsy Wheeler, Chris Dombrowski, and Amelia Gray
        </H4>
    </div>
</center>
</div>

<div class="row">
    <h3 class="page-header">Thursday, June 23, 2016</h3>
</div>

<div class="row">
    <center>
    <div class="col-xs-6 col-xs-offset-3">
        <H4>
            Heather Christle and Mitchell S. Jackson
        </H4>
    </div>
</center>
</div>

<div class="row">
    <h3 class="page-header">Friday, June 24, 2016</h3>
</div>

<div class="row">
    <center>
    <div class="col-xs-6 col-xs-offset-3">
        <H4>
            Matthew Zapruder and Emily Pettit
        </H4>
    </div>
</center>
</div>

<div class="row">
    <h3 class="page-header">Saturday, June 25, 2016</h3>
</div>

<div class="row">
    <center>
    <div class="col-xs-6 col-xs-offset-3">
        <H4>
            Paul Lisicky and Joy Williams
        </H4>
    </div>
</center>
</div>

 -->

