<br><br><div class="row">

	<div class="col-xs-12 header" >
        <h1 class="page-header">Reading Series</h1>
    </div>
</div>
<br><br>
<div class="row">

        <div class="col-sm-4">
        	<img src="./images/reading/reading-series-1.jpg" class="image img-responsive">
        </div>


        <div class="col-sm-4">
        	<img src="./images/reading/reading-series-2.jpg" class="image img-responsive">
        </div>


        <div class="col-sm-4">
        	<img src="./images/reading/reading-series-3.jpg" class="image img-responsive">
        </div>
</div>
<br><br>
<div class="row">

	
	<div class="col-xs-6 col-xs-offset-3">
        <p>Each night during the Juniper Institute, faculty and guest poets &amp; writers read from their new and selected work. Readings are free and open to the public. There is plenty of free parking and the event is in an accessible venue.</p>

        <p>Readings begin each night at 7:30 in <a href="https://fac.umass.edu/Online/default.asp?BOparam::WScontent::loadArticle::permalink=bezanson" target="_blank">Bezanson Recital Hall</a> and are followed by book signings.</p>

    </div>

</div>


<div class="row">
	<h3 class="page-header">Sunday, June 17, 2018</h3>
</div>

<div class="row">
    <center>
        <div class="col-xs-6 col-xs-offset-3">
            <H4>
                Bianca Stone and Joy Williams
            </H4>
        </div>
    </center>
</div>

<div class="row">
    <h3 class="page-header">Monday, June 18, 2018</h3>
</div>

<div class="row">
    <center>
    <div class="col-xs-6 col-xs-offset-3">
        <H4>
            Stephen Graham Jones and Evie Shockley
        </H4>
    </div>
</center>
</div>

<div class="row">
    <h3 class="page-header">Tuesday, June 19, 2018</h3>
</div>

<div class="row">
    <center>
    <div class="col-xs-6 col-xs-offset-3">
        <H4>
            Terrance Hayes, Eileen Myles, and Lisa Olstein
        </H4>
    </div>
</center>
</div>

<div class="row">
    <h3 class="page-header">Wednesday, June 20, 2018</h3>
</div>

<div class="row">
    <center>
    <div class="col-xs-6 col-xs-offset-3">
        <H4>
            Rickey Laurentiis and Margaret Wilkerson Sexton
        </H4>
    </div>
</center>
</div>

<div class="row">
    <h3 class="page-header">Thursday, June 21, 2018</h3>
</div>

<div class="row">
    <center>
    <div class="col-xs-6 col-xs-offset-3">
        <H4>
            Camille Rankine, Matthew Zapruder, and Leni Zumas

        </H4>
    </div>
</center>
</div>

<div class="row">
    <h3 class="page-header">Friday, June 22, 2018</h3>
</div>

<div class="row">
    <center>
    <div class="col-xs-6 col-xs-offset-3">
        <H4>
            Arthur Flowers, Noy Holland, and Dorothea Lasky
        </H4>
    </div>
</center>
</div>

<div class="row">
    <h3 class="page-header">Saturday, June 23, 2018</h3>
</div>

<div class="row">
    <center>
    <div class="col-xs-6 col-xs-offset-3">
        <H4>
            Mitchell S. Jackson, Paul Lisicky, and Dara Wier

        </H4>
    </div>
</center>
</div>



