<br><br><div class="row">

	<div class="col-xs-12 header" >
        <h1 class="page-header">Reading Series</h1>
    </div>
</div>
<br><br>
<div class="row">

        <div class="col-sm-4">
        	<img src="./images/reading/reading-series-1.jpg" class="image img-responsive">
        </div>


        <div class="col-sm-4">
        	<img src="./images/reading/reading-series-2.jpg" class="image img-responsive">
        </div>


        <div class="col-sm-4">
        	<img src="./images/reading/reading-series-3.jpg" class="image img-responsive">
        </div>
</div>
<br><br>
<div class="row">

	
	<div class="col-xs-6 col-xs-offset-3">
        <p>Each night during the Juniper Institute, acclaimed faculty and writers in residence read from their new and selected work. Readings are free and open to the public. There is plenty of free parking and the event is in an accessible venue: </p>

        <p>UMass Amherst Integrated Sciences Building, Room 135, 661 North Pleasant Street, Amherst MA</p>

        <p>Readings begin each night at 7:30 and are followed by book signings.</p>
    </div>

</div>


<div class="row">
	<h3 class="page-header">Sunday, June 18, 2017</h3>
</div>

<div class="row">
    <center>
        <div class="col-xs-6 col-xs-offset-3">
            <H4>
                Emily Pettit and Joy Williams
            </H4>
        </div>
    </center>
</div>

<div class="row">
    <h3 class="page-header">Monday, June 19, 2017</h3>
</div>

<div class="row">
    <center>
    <div class="col-xs-6 col-xs-offset-3">
        <H4>
            Dara Wier and Tiphanie Yanique
        </H4>
    </div>
</center>
</div>

<div class="row">
    <h3 class="page-header">Tuesday, June 20, 2017</h3>
</div>

<div class="row">
    <center>
    <div class="col-xs-6 col-xs-offset-3">
        <H4>
            Arda Collins and Nathan Hill
        </H4>
    </div>
</center>
</div>

<div class="row">
    <h3 class="page-header">Wednesday, June 21, 2017</h3>
</div>

<div class="row">
    <center>
    <div class="col-xs-6 col-xs-offset-3">
        <H4>
            Amy Leach, Lydia Millet, and Arisa White
        </H4>
    </div>
</center>
</div>

<div class="row">
    <h3 class="page-header">Thursday, June 22, 2017</h3>
</div>

<div class="row">
    <center>
    <div class="col-xs-6 col-xs-offset-3">
        <H4>
            Timothy Donnelly and Rachel B. Glaser
        </H4>
    </div>
</center>
</div>

<div class="row">
    <h3 class="page-header">Friday, June 23, 2017</h3>
</div>

<div class="row">
    <center>
    <div class="col-xs-6 col-xs-offset-3">
        <H4>
            Sam Michel and Camille Rankine
        </H4>
    </div>
</center>
</div>

<div class="row">
    <h3 class="page-header">Saturday, June 24, 2017</h3>
</div>

<div class="row">
    <center>
    <div class="col-xs-6 col-xs-offset-3">
        <H4>
            Stephen Graham Jones, Paul Lisicky, and Harryette Mullen
        </H4>
    </div>
</center>
</div>



