    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://www.umass.edu/juniperinstitute/#/"> <img src="./images/black_logo.png" class="sidebar-logo"><p class="name">Juniper Summer Writing Institute</p></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">The Institute <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="http://www.umass.edu/juniperinstitute/#/institute/about">About</a>
                            </li>

                            <li>
                                <a href="http://www.umass.edu/juniperinstitute/#/institute/faculty">Faculty &amp; Writers in Residence</a>
                            </li>
                            <li>
                                <a href="http://www.umass.edu/juniperinstitute/#/institute/workshops">Workshops</a>
                            </li>
                            <li>
                                <a href="http://www.umass.edu/juniperinstitute/#/institute/craft">Craft Sessions</a>
                            </li>

                            <li>
                                <a href="http://www.umass.edu/juniperinstitute/#/institute/reading">Reading Series</a>
                            </li>
                            <li>
                                <a href="http://www.umass.edu/juniperinstitute/#/institute/admission">Admission &amp; Scholarships</a>
                            </li>
                            <li>
                                <a href="http://www.umass.edu/juniperinstitute/#/institute/enrolled">For Enrolled Participants</a>
                            </li>


                        </ul>
                    </li>
                    <li>
                        <a href="http://www.umass.edu/juniperinstitute/#/sponsors">Sponsors</a>
                    </li>
                    <li>
                        <a href="http://www.umass.edu/juniperyoungwriters">Program for High School Writers</a>
                    </li>
                    <li>
                        <a href="http://www.umass.edu/juniperinstitute/#/contact">Contact</a>
                    </li>

                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Apply now<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="https://junipersummerwritinginstitute.submittable.com/submit/50249" target="_blank">Apply to the Adult Institute</a></li>
                            <li><a href="https://junipersummerwritinginstitute.submittable.com/submit/50297" target="_blank">Apply to the Program for High School Writers</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>