<br><br><div class="row">

	<div class="col-xs-12 header" >
        <h1 class="page-header">Workshops</h1>
    </div>
</div>
	<div class="row">

        <div class="col-lg-4">
        	<img src="./images/workshop/workshops-1.jpg" class="image img-responsive"> 
        </div>


        <div class="col-lg-4">
        	<img src="./images/workshop/workshops-2.jpg" class="image img-responsive">
        </div>


        <div class="col-lg-4">
        	<img src="./images/workshop/workshops-3.jpg" class="image img-responsive">
        </div>
    </div>

<br><br>


<div class="row">

	
	<div class="col-xs-6 col-xs-offset-3 ">
        <p>Workshops are at the heart of the Juniper Institute. Here, writers generate new work and present that work, or other work-in-progress, to their assigned faculty workshop leaders and peers. Workshop sizes are kept small so that every writer’s work gets dedicated attention. In addition to focusing on specific pieces of writing, writers actively interrogate larger issues of form, style, content, language, and process.</p>
        <p>Every workshop has its own climate and conventions: some lean toward the generation of new work, some toward the honing of existing pieces, and others emphasize a combination of both. While details are subject to revision, here's how the 2016 faculty describe their approach to their Juniper workshops.</p>

        <center><p>Click titles for descriptions:</p></center><br>
    </div>

</div>


<div class="row">
	<div class="col-xs-6 col-xs-offset-3 text-center">
		<accordion close-others="oneAtATime" >
			<accordion-group heading="Fiction Workshop with Noy Holland">
			    <p style="text-align:left">Our time here is short and happily intense. I think you will use it best and hardest by producing new work while you are here, by internalizing—through the act of writing—the varied lessons that arise among us. My idea is to approach the work in units. We might spend a whole workshop, for instance, looking at adjectives and adverbs; another workshop looking at dialogue; another at the angle of perception; another at rhythm and syntax. After each workshop, I ask that you embrace what you’ve discovered by producing work that responds to those discoveries—in direct and meaningful and immediate ways.</p>
			    <p style="text-align:left">Does this mean you are not invited to bring work with you? No, not really. If you are deeply engaged in a project, it may make sense to use your time in active revision; you may want to share not new work but newly revised work. But to get what you can from the workshop, you need to be open, in the moment, to deep changes, to seeing what you have brought as raw material, endlessly malleable. This can be difficult to do in as short a time as we have. Ideally, you will come to see everything you have written through the lens of what you learn while you are here, and this re-seeing takes time, often quite a long, welcome, wrestling kind of time that writers find in the weeks that follow.</p>
   			</accordion-group>
		</accordion>

		<accordion close-others="oneAtATime" >
			<accordion-group heading="Fiction Workshop with Joy Williams">
			    <p style="text-align:left">Participants’ new, raw material will provide the basis for this workshop. We will be working on three to four stories per session; the last session will be devoted to individual manuscript consultation (number of participants permitting). In addition to working with participant’s manuscripts, we’ll also be discussing some (more or less, classic or strange) stories to explore the techniques to make them effective. </p>
   			</accordion-group>
		</accordion>
		
		<accordion close-others="oneAtATime" >
			<accordion-group heading="Fiction Workshop with Mitchell S. Jackson">
			    <p style="text-align:left">John Edgar Wideman is one of the many writers who’ve reasserted the African proverb “all stories are true.” In this workshop, we will explore what it means to craft a “true” story. Along the way, we will also work to deepen our understanding of the elements of fiction including structure, plotting, point of view, setting, characterization, pacing, tone, dialogue, and will pay special attention to narrative voice. The workshop will present opportunities to enhance how we respond to the work of others and also how we approach revisions of our own work. We will complete writing exercises and read excerpts of published work to assist in exploring a range of strategies, impulses, and ideas. </p>
   			</accordion-group>
		</accordion>
		

		<accordion close-others="oneAtATime" >
			<accordion-group heading="Poetry Workshop with Heather Christle">
			    <p style="text-align:left">In our week together we will take a look at your poems and where they might travel, taking movement as our guiding theme, whether through time, space, voice, subject, form, or any of the other opportunities for motion we discover together. Our focus will be on your work, but to bolster those conversations we will also discuss other texts: poems that jump to and fro, poems that roll, poems that lie in stillness. We’ll try out some experiments with various forms of writing in motion, so please come prepared to generate new lines, and with a good sense of adventure. Along the way we will consider what we might learn from the movement of beings and objects from other fields, and—if luck is on our side—grow bold and ambitious in response.</p>
   			</accordion-group>
		</accordion>

		<accordion close-others="oneAtATime" >
			<accordion-group heading="Poetry Workshop with Emily Pettit">
			    <p style="text-align:left">In our workshop we will work together to discover ways we can write what we want to write and write what we didn’t know we wanted to write and are now so happy to have written. This workshop will be generative. The work you bring, in addition to provided texts and exercises, will be our means of propulsion. Our collective investigations will lead us to know new things to love – about a line, about a stanza, about music, about rhythm, about an image, about metaphor, about diction, about a tone. Our collective investigations will lead us to know new ways that we want to approach and engage with our future writing. We will take this time and make much of it. We will be as inventive and kind and funny and smart and giving as we can. </p>
   			</accordion-group>
		</accordion>

		<accordion close-others="oneAtATime" >
			<accordion-group heading="Poetry Workshop with Zachary Schomburg">
			    <p style="text-align:left">In our workshop, we will zero in on the poem's narrative while keeping in mind ideas of restraint and concision in language, of letting go of the need to explain and contextualize its ideas and images, in order for a poem to accomplish a lot in a little space. We will learn to complicate a poem's narrative by not strangling it. We will read and discuss the success of the narrative within a few short poems published recently by our contemporaries, and then we will spend the majority of our time doing just that for each other's poems. </p>
   			</accordion-group>
		</accordion>

		<accordion close-others="oneAtATime" >
			<accordion-group heading="Poetry Workshop with Evie Shockley">
			    <p style="text-align:left">We may feel at times that we are writing into the void, but in fact our poems carry our ideas, emotions, questions, and memories out of our bodies, onto the page, and—if we let them, if we’re lucky—into the world.  But what an odd and delightful (and necessary and powerful) way to communicate!  This workshop will spend a week thinking about speakers (lyric, narrative, dramatic, retiring), addressees (internal, inanimate, indifferent, indefinite), and audiences (ideal, intended, immediate, and unimagined) in a wide range of poems, some old, some new, and some your own.  How can an awareness of the relationships a poem might posit among these figures/groups inspire us, challenge us, and lead us to more compelling, more ethical, more inventive work?  Let’s see! </p>
   			</accordion-group>
		</accordion>


		<accordion close-others="oneAtATime" >
			<accordion-group heading="Creative Nonfiction Workshop with Paul Lisicky">
			    <p style="text-align:left">The ideal writing workshop is a place where a variety of forms are encouraged and respected, where we attempt to create a version of a model literary community: a thriving ecosystem, as Richard Powers might call it, rather than a monoculture. It requires an openness at every turn, a dedicated generosity, and a willingness to consider each piece on its own terms. We'll look at a variety of outside work (Nick Flynn, Peter Trachtenberg, Mary Gaitskill, among others), but your writing will be our primary text. We'll make time for in-class exercises and relevant discussion. Along the way, we’ll work hard, have fun, and make sure delight isn’t an enemy to seriousness.</p>
   			</accordion-group>
		</accordion>
	</div>
</div>